/* ============================= GENERAL STYLES ============================= */
body {
	font-family: Arial, sans-serif;
	font-size: 100%;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
p {
	font-size: 13px;
	line-height: 1.3em;
}

.container {
	margin: 0 auto;
	width: 99%;
}
/* ============================= /GENERAL STYLES ============================= */
/* ============================= HEADER ============================= */
.header{
	padding: 50px 0;
	background-color: yellowgreen;
}
.header h1,
.header h2 {
	color: greenyellow;
	text-align: center;
}
/* ============================= /HEADER ============================= */
/* ============================= NAVIGATION ============================= */
.page-navigation {
	background-color: #222;
	border-color: #101010;
	min-height: 64px;
}
.page-navigation div{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.page-navigation ul{
	display: flex; 
	justify-content:flex-start;
	flex-wrap: wrap;
}

.page-navigation li {
	float: left;
	width: 100px;
}
.page-navigation a {
	display: block;
	color: #9d9d9d;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
.page-navigation li a:hover {
	color: yellowgreen;
	background-color: black;
}
/* ============================= /NAVIGATION ============================= */
/* LOGIN FORM */
.login {
	padding: 15px 0;
	float: right;
	display: flex; 
	justify-content: flex-end;
	flex-wrap: wrap;
}
.login input[type="text"],
.login input[type="password"] {
	padding: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}
.login input[type="submit"] {
	padding: 5px 15px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.login input[type="submit"]:hover,
button:hover {
	background-color: darkgray;
	color: white;	
}
/* ============================= /LOGIN FORM ============================= */
/* ============================= MAIN PART ============================= */

.collections {
	overflow: auto;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.collection-title {
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
	font-size: 36px;
}
.collection-title small {
	color: #777;
	font-size: 70%;
}
.collection-item-outer {
	/* display: inline-block; */
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: calc(100%/3);
	max-width: 400px;
	box-sizing: border-box;
	flex-grow: 1;
	flex-basis: 200px;
}
.collections > div:first-child {
	padding-left: 0;
	padding-right: 10px;

}
.collections > div:last-child {
	padding-right: 0;
	padding-left:10px;
}
.collection-item {
	border: 1px solid #959595;
}
.collection-item img,
.collection-item video {
	width: 100%;
}
.collection-text {
	padding: 0 20px 20px 20px;
}
.collection-text h3 {
	color: yellowgreen;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.collection-text p {
	height: 80px;
	overflow: hidden;
}
.collection-text button {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}
/* ============================= /MAIN PART ============================= */
/* ============================= FOOTER ============================= */
.footer {
	background-color: yellowgreen;
	color: white;
	padding: 20px 0;
	margin-top: 30px;
}
/* ============================= /FOOTER ============================= */